name: Tox tests

on: [push, pull_request]

jobs:
  py312:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install base packages
        run: sudo apt-get install gcc python3-dev libkrb5-dev
      - name: Install Tox
        run: pip install tox
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Run Tox
        run: tox -e py312
  static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install base packages
        run: sudo apt-get install gcc python3-dev libkrb5-dev
      - name: Install Tox
        run: pip install tox
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Run Tox
        run: tox -e static
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install base packages
        run: sudo apt-get install gcc python3-dev libkrb5-dev
      - name: Install Tox
        run: pip install tox
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Run Tox
        run: tox -e cov
      - name: Install pytest cov
        run: pip install pytest-cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install base packages
        run: sudo apt-get install gcc python3-dev libkrb5-dev
      - name: Install Tox
        run: pip install tox
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Run Tox
        run: tox -e bandit
  bandit-exitzero:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install base packages
        run: sudo apt-get install gcc python3-dev libkrb5-dev
      - name: Install Tox
        run: pip install tox
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Run Tox
        run: tox -e bandit-exitzero
